*{
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: #fce2f0;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f479b6;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}
nav .circle:hover{
    transform: scale(1.2);
}
.song-img{
    width: 220px;
    border-radius: 50px;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400px;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: #333;
    padding-top: 10px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f87cbe;
    border-radius:4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f567ae;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
#progress::-moz-range-thumb{
    background: #f567ae;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f87cbe;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f87cbe;
    color: #fff;
}
.music-player{
    position: relative;
    padding: 40px;
}
.footer{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 10px;
    width: calc(100% - 75px);
    position: absolute;
    bottom: 0;
}
.footer p{
    margin: 0;
    color: #9dbcff;
    font-size: 10px;
}
.dropdown-menu{
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: rgb(252, 226, 240, 0.9);
    position: absolute;
    display: none;
    top: 60px;
    left: 35px;
    border: 1px solid #f87cbe;
    border-radius: 5px;
    width: 200px;
    z-index: 1;
    transform: scale(1);
}
.dropdown-menu li{
    padding: 5px;
    cursor: pointer;
    color: #f87cbe;
    border-bottom: 1px solid #f567ae;
    font-size: 13px;
}
.dropdown-menu li:hover{
    background-color: #eba5cb;
    color: #fff;
    border-radius: 5px;
}
.circle{
    position: relative;
}
.circle:hover .dropdown-menu,
.circle.open .dropdown-menu {
    display: block;
}

/* dark mode */
.dark-mode{
    background: #222;
}
body.dark-mode{
    background-color: #252525;
    color: #fff;
}
.dark-mode .music-player{
    background-color: #1f1f1f;
    color: #fff;
}
.dark-mode nav .circle{
    background-color: #333;
    color: #fff;
}
.dark-mode .control div{
    background-color: #333;
    color: #fff;
}
.dark-mode .footer{
    color: #9dbcff;
}
.dark-mode .music-player h1{
    font-size: 20px;
    font-weight: 400px;
    color: #8e8b8b;
    margin-top: 20px;
}
.dark-mode .music-player p{
    font-size: 14px;
    color: #8e8b8b;
    padding-top: 10px;
}
.dark-mode #progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #5a8ee2;
    border-radius:4px;
    cursor: pointer;
    margin: 40px 0;
}
.dark-mode #progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #5a8ee2;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(124, 164, 251, 0.22);
}
.dark-mode #progress::-moz-range-thumb{
    background: #5a8ee2;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(124, 164, 251, 0.22);
    cursor: pointer;
}
.dark-mode nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #5a8ee2;
    box-shadow: 0 5px 10px rgba(124, 164, 251, 0.22);
    cursor: pointer;
}
.dark-mode .controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #5a8ee2;
    box-shadow: 0 10px 20px rgba(124, 164, 251, 0.22);
    cursor: pointer;
}
.dark-mode .controls div:nth-child(2){
    transform: scale(1.5);
    background: #5a8ee2;
    color: #fff;
}
.dark-mode .song-img{
    width: 220px;
    border-radius: 50px;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgba(124, 164, 251, 0.22);
}
.dark-mode .dropdown-menu{
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: rgb(252, 226, 240, 0.9);
    position: absolute;
    display: none;
    top: 60px;
    left: 35px;
    border: 1px solid #5a8ee2;
    border-radius: 5px;
    width: 200px;
    z-index: 1;
    transform: scale(1);
}
.dark-mode .dropdown-menu li{
    padding: 5px;
    cursor: pointer;
    color: #5a8ee2;
    border-bottom: 1px solid #5a8ee2;
}
.dark-mode .dropdown-menu li:hover{
    background-color: #85a8df;
    color: #fff;
    border-radius: 5px;
}
.dark-mode .footer p{
    margin: 0;
    color: #747576;
    font-size: 10px;
}
@media (hover: none) {
    nav .circle:hover{
        transform: none;
    }
}
@media only screen and (max-width: 768px) {
    .dropdown-menu {
        width: 220px;
        left: 0;
        padding: 15px;
        font-size: 15px;
    }
}